.__lettle {
    &_container {
        position: relative;
        width: var(--width-lettle); //300px
        height: var(--height-lettle); //230px
        border-radius: 15px;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
            1px 1px 8px rgba(233, 30, 99, 0.6);
        opacity: 1;
        transition: border-radius 1s ease-in-out;
        &::before {
            content: "";
            position: absolute;
            top: 0;
            z-index: 2;
            border-top: calc(var(--height-lettle) * 56 / 100) solid
                rgb(255, 147, 135);
            border-right: calc(var(--width-lettle) / 2) solid transparent;
            border-left: calc(var(--width-lettle) / 2) solid transparent;
            transform-origin: top;
            transition: all 3s ease-in-out 0.7s;
            border-radius: 15px;
        }
        &::after {
            content: "";
            position: absolute;
            z-index: 2;
            width: 0px;
            height: 0px;
            border-top: calc(var(--height-lettle) * 56 / 100) solid transparent;
            border-right: calc(var(--width-lettle) / 2) solid rgb(255, 76, 57); //half width container
            border-bottom: calc(var(--height-lettle) * 45 / 100) solid
                rgb(255, 76, 57);
            border-left: calc(var(--width-lettle) / 2) solid rgb(255, 100, 82);
            border-radius: 15px;
        }
        &_content {
            position: absolute;
            right: 20%;
            bottom: 0;
            width: 59%;
            height: 70%;
            background: white;
            text-align: center;
            transition: all 1s ease-in-out;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 5px;
            &_text {
                font-family: "Gill Sans", "Gill Sans MT", Calibri,
                    "Trebuchet MS", sans-serif;
                text-align: left;
                font-size: 10px;
                width: 100%;
                display: flex;
                justify-content: space-around;
                align-items: center;
                flex-direction: column;
                img {
                    position: absolute;
                    width: 80%;
                    height: 80%;
                    border-radius: 10px;
                    z-index: 0;
                }
                .__sign {
                    font-style: italic;
                    font-size: 1rem;
                    position: absolute;
                    bottom: 0rem;
                    right: 0.5rem;
                    color: rgb(251, 88, 88);
                }
                @media screen and (max-width: 550px) {
                    .__sign {
                        font-size: 0.85rem;
                    }
                }
            }
            button {
                position: relative;
                z-index: 2;
                background-color: transparent;
                padding: 0.25rem 1rem;
                border-radius: 20px;
                border-color: rgb(251, 88, 88);
                color: rgb(251, 88, 88);
                box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075),
                    1px 1px 8px rgba(233, 30, 99, 0.6);
                &:hover {
                    cursor: pointer;
                    background-image: linear-gradient(
                        to bottom right,
                        rgb(251, 88, 88),
                        rgba(147, 19, 62, 0.8)
                    );
                    color: white;
                }
                &:active {
                    cursor: pointer;
                    background-color: rgb(251, 88, 88);
                    color: white;
                }
            }
        }
    }
}
.__flap {
    .__lettle_container {
        border-radius: 0 0 15px 15px;
        &:before {
            transform: rotateX(180deg);
            z-index: 0;
            border-radius: 0;
        }
        &::after {
            border-radius: 0 0 15px 15px;
            z-index: 0;
        }
        &_content {
            animation: openlettle 2s 1 both;
            animation-delay: 4s;
        }
    }
}
