@keyframes heartbeat {
    0% {
        transform: scale(0.75);
    }
    20% {
        transform: scale(1);
    }
    40% {
        transform: scale(0.75);
    }
    60% {
        transform: scale(1);
    }
    80% {
        transform: scale(0.75);
    }
    100% {
        transform: scale(0.75);
    }
}

@keyframes uncheck {
    0% {
        transform: rotate(-30deg) translateX(28.5px) translateY(15px);
    }
    50% {
        transform: rotate(30deg) translateX(14px);
    }
    75% {
        transform: rotate(30deg) translateX(8.5px) scaleX(1.1);
    }
    100% {
        transform: rotate(30deg);
    }
}

@keyframes check {
    0% {
        transform: rotate(30deg);
    }
    25% {
        transform: rotate(30deg) translateX(8.5px) scaleX(1.1);
    }
    50% {
        transform: rotate(30deg) translateX(14px);
    }
    100% {
        transform: rotate(-30deg) translateX(28.5px) translateY(15px);
    }
}

@keyframes switch-move {
    0% {
        top: 48.5%;
        left: calc(calc(100% - 85px) / 2);
    }
    100% {
        top: calc(100% - 60px);
        left: calc(100% - 50px - 3rem);
    }
}
@keyframes switch-close {
    0% {
        top: calc(100% - 60px);
        left: calc(100% - 50px - 3rem);
    }
    100% {
        top: 48.5%;
        left: calc(calc(100% - 85px) / 2);
    }
}

@keyframes openlettle {
    0% {
        opacity: 1;
        bottom: 0;
    }
    100% {
        transform: scale(1.5);
        z-index: 3;
        bottom: 100px;
    }
}
@keyframes zoomOut {
    100% {
        transform: scale(1) rotate(20deg);
    }
    50% {
        transform: scale(1.2) rotate(20deg);
    }
    0% {
        transform: scale(0) rotate(0deg);
    }
}

@keyframes zoomOut1 {
    100% {
        transform: scale(1) rotate(-20deg);
    }
    50% {
        transform: scale(1.4) rotate(20deg);
    }
    0% {
        transform: scale(0.2) rotate(0deg);
    }
}

@keyframes zoomOut2 {
    100% {
        bottom: 10%;
        transform: rotate(-10deg);
    }
    0% {
        bottom: -20%;
    }
}

@keyframes zoomOut3 {
    100% {
        bottom: 5%;
        transform: rotate(5deg);
    }
    0% {
        bottom: -20%;
        transform: rotate(10deg);
    }
}

@keyframes heartFly {
    100% {
        bottom: 75%;
        opacity: 0;
    }
    0% {
        bottom: 8%;
        opacity: 1;
    }
}

@keyframes heartFly1 {
    100% {
        bottom: 95%;
        opacity: 0;
    }
    0% {
        bottom: 0%;
        opacity: 1;
    }
}
