body {
    overflow: hidden;
    margin: 0;
    .App {
        position: relative;
        width: 100vw;
        height: 100vh;
        background-color: rgba(251, 137, 137, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .__arrow_button {
        display: flex;
        z-index: 2;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 15%;
        left: 50%;
        transform: translate(-50%, 0);
        img {
            width: 130px;
            height: 150px;
        }
        span {
            font-weight: 800;
            font-size: 1.75rem;
            color: rgb(255, 5, 105);
        }
    }
}
@media screen and (max-width: 550px) {
    body {
        width: 100%;
    }
}
